body {
  font-family: "Avenir Next";
}

ul {
  list-style: none;

}

.home{
  background-color:#FFEEFF;
}

.info{
  background-color:#FFEEFF;
}

.live{
  background-color:#FFEEFF;
}

.profile{
  background-color:#FFEEFF;
}

.contact{
  background-color:#FFEEFF;
  }

input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:10px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.tab{
  background-color:#FFCCFF;
  position:fixed;
  top:0;
  z-index:10;
  list-style: none;
  width:1170px;
  padding:0 15px;
  margin:0 auto;
  float:left;
}

h1 {
  width: auto;
  border-bottom: 2px solid #dee7ec;
}

.account{
  margin-bottom: 50px;
  float:left;
}

.twitter{
  margin-left: 10px;
  background-color:#55acee;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center
}

.soundcloud{
  margin: 10px;
  background-color: #FF6928;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center
}

.bandcamp{
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center
  border:1px solid #dee7ec;
}

.subscription{
  margin: 10px;
  background-color: #dee7ec;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center
}

.submit{
  display:block;
  cursor:pointer;
}
