body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float:left;
  margin:0 15px;
  align:center;
}

div{
  align:center;
}

body{
  margin:10px auto;
}

.home{
  background-color:#FFEEFF;
}

.info{
  background-color:#FFEEFF;
}

.live{
  background-color:#FFEEFF;
}

.profile{
  background-color:#FFEEFF;
}

.contact{
  background-color:#FFEEFF;
  }

input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:10px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.tab{
  background-color:#FFCCFF;
  position:fixed;
  top:0;
  z-index:10;
  list-style: none;
  width:1170px;
  padding:10px 30px;
  float:left;
  font-size: 24px;
  margin:0 auto;
}

.top-wrapper h1 {
  border-bottom: 2px solid #dee7ec;
  margin-top: 100px;
  text-align: center;
}

.top-wrapper{
  text-align: center;
  margin:0 auto;
}

.account{
  margin-bottom: 50px;
  margin:0 auto;
  float:left;
}

.twitter{
  margin: 10px;
  background-color:#55acee;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center;
  float: left;
}

.soundcloud{
  margin: 10px;
  background-color: #FF6928;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center;
  float: left;
}

.bandcamp{
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center;
  border:1px solid #dee7ec;
  float: left;
}

.subscription{
  margin: 10px;
  background-color: #dee7ec;
  border-radius: 10px;
  display:block;
  padding:10px;
  width:100px;
  text-align: center;
  float: left;
}

.submit{
  display:block;
  cursor:pointer;
}
